:root {
  --color-blue: #6c63ff;
  --color-red: #ff6584;
  --color-black: #2e293b;
  --color-white: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif !important;
  overflow-x: hidden;
}

section {
  height: 100vh;
  padding: 30px 0;
}
/* ======== REUSABLE ========*/
h1,
h2,
h3,
h6,
p {
  color: var(--color-black);
}

p {
  font-size: 1.25rem;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 0.15rem;
  font-weight: 600;
}

ion-icon {
  font-size: 1.5rem;
  vertical-align: middle;
}

.tooltip-inner {
  background: var(--color-black) !important;
  font-size: 1rem;
  padding: 1rem;
}

.tooltip.bs-tooltip-auto[x-placement^='top'] .arrow::before,
.tooltip.bs-tooltip-top .arrow::before {
  border-top-color: var(--color-black) !important;
}

/* ======== OVERWIRE DEFAULT STYLE OF B4 LIST ======== */
.active {
  background: var(--color-white) !important;
}

.myNav {
  z-index: 999;
  position: fixed;
  right: 10px;
  top: 20%;
  transform: translateX(120%);
  transition: transform 1s;
}

.show-nav-btn {
  cursor: pointer;
  position: absolute;
  left: -30px;
  top: 40%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid var(--color-blue);
  border-bottom: 20px solid transparent;
}

.myNav ul {
  list-style-type: none;
}

.myNav a {
  border-radius: unset !important;
  border: 0 !important;
  text-align: center;
  background: var(--color-blue);
  color: var(--color-white);
  padding: 1rem 0.5rem;
}

.myNav a.active {
  color: var(--color-blue);
}

.myNav li:first-child a {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.myNav li:last-child a {
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.myNav.open {
  transform: translateX(0);
}

.myNav.open .show-nav-btn {
  border-right: 0;
  border-left: 20px solid var(--color-red);
}

/* ======== HEADER ======== */
.header {
  background: url(../images/bg-11.svg);
  background-attachment: fixed;
}

.header .row {
  height: 100vh;
}

.header h1 {
  overflow: hidden;
  border-right: 0.15em solid var(--color-black);
  white-space: nowrap;
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;

  animation: typingEffect 3.5s steps(40, end),
    cursorEffect 0.75s step-end infinite;
}

.header img {
  animation: upAndDownEffect 2s alternate infinite;
}

.header span {
  color: var(--color-red);
}

/*  ========= ABOUT ======== */
.about img {
  transition: transform 0.5s;
}
.about img:hover {
  transform: scale(1.1);
}

/*  ========= INTRO ======== */
.intro {
  background: url(../images/bg2.svg);
  background-attachment: fixed;
  background-size: cover;
}

.intro__img-box {
  overflow: hidden;
  height: 130px;
  width: 125px;
  object-fit: contain;
}

.intro__img-box img {
  margin: 10px 0;
  animation: moveUp 10s linear alternate infinite;
}

/*  ========= TECHNICAL ======== */
.technical-skill p {
  margin-bottom: 0;
}

.technical-skill .progress-bar {
  background: var(--color-blue);
}

.technical-skill .left-col {
  max-height: 80%;
}

.technical-skill img {
  display: inline-block;
}

.pg-bar {
  width: 70%;
  height: 20px;
  border: 1px solid var(--color-black);
  border-radius: 5px;
}

.pg-bar__percent {
  height: 100%;
  width: 0%;
  background: var(--color-blue);
  animation-fill-mode: forwards;
}

@keyframes slideInDown {
  to {
    transform: scale(1.5);
  }
}

/*  ========= OTHER-SKILL ========= */
.other-skill img {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  transition: transform 1s;
  cursor: pointer;
}

/*  ========= PROJECTS ========= */
.projects {
  border: 1px solid;
}
.projects div[class^='col-'] {
  border: 1px solid;
}

/*  ========= THANKS ======== */
.thanks {
  background: url(../images/bg.svg);
  background-attachment: fixed;
  background-size: cover;
}
.thanks h2 {
  color: var(--color-red);
}

.thanks img {
  width: 20rem;
  animation: scaleEffect 0.75s infinite alternate;
}

/*  ========= CONTACT ========= */
.contact a {
  width: 140px;
  border-radius: 5px;
  color: var(--color-white);
  transition: all 0.25s;
}

.contact a:focus {
  box-shadow: none;
}

.contact a:hover {
  transform: translateY(-5px);
}

.contact a:active {
  transform: translateY(-2px);
}

.contact a:nth-of-type(1) {
  background: var(--color-red);
  margin: 0 5px;
}

.contact a:nth-of-type(1):hover {
  box-shadow: 5px 5px 10px var(--color-red);
}

.contact a:nth-of-type(1):active {
  box-shadow: 2px 2px 5px var(--color-red);
}

.contact a:nth-of-type(2) {
  background: var(--color-blue);
  margin: 0 5px;
}

.contact a:nth-of-type(2):hover {
  box-shadow: 5px 5px 10px var(--color-blue);
}

.contact a:nth-of-type(2):active {
  box-shadow: 2px 2px 5px var(--color-blue);
}

/*  ========= FOOTER ========= */
.footer {
  padding: 100px 0 50px;
  position: relative;
}

.footer ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.footer ul li {
  display: inline-block;
  text-align: center;
  flex: 1;
}

.footer a {
  color: var(--color-blue);
  text-decoration: none;
}

.footer h6 {
  color: var(--color-red);
}

.footer p {
  font-size: 13px;
  color: var(--color-blue);
  text-align: center;
  font-weight: 300;
}

/*  ========= Responsive ========= */
@media only screen and (min-width: 768px) {
  html {
    font-size: 75%;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 87.5%;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 100%;
  }

  .myNav {
    transform: translateX(0);
  }

  .show-nav-btn {
    display: none;
  }
}

/* ========= Animation ========== */
@keyframes scaleEffect {
  to {
    transform: scale(1.05);
  }
}

@keyframes upAndDownEffect {
  to {
    transform: translateY(2rem);
  }
}

@keyframes typingEffect {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursorEffect {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--color-black);
  }
}

@keyframes moveUp {
  to {
    transform: translateY(-150px);
  }
}

@keyframes flash {
  /* overwrite animate.css keyframe */
  to {
    width: 80%;
  }
}
